<div id="sharing-panel">
    <span class="title">Share this to: </span>
    <a class="sharing-buttons"
       href="https://www.facebook.com/sharer.php?t={{ page.title | escape }}&u={{ page.url | absolute_url }}"
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       title="Share on Facebook">
        <span class="fa fa-facebook share-button"> <span class="share-text">Facebook</span></span>
    </a>
    <a class="sharing-buttons"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | escape }}&summary=&source=www.randonomicon.com"
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       title="Share on LinkedIn">
        <span class="fa fa-linkedin share-button"> <span class="share-text">LinkedIn</span></span>
    </a>
    <a class="sharing-buttons"
       href="mailto:?subject={{ page.title | escape }}&amp;body=Check out this site {{ page.url | absolute_url }}"
       title="Share via Email">
        <span class="fa fa-envelope share-button"> <span class="share-text">Email</span></span>
    </a>
</div>
