<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<!--  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160751836-1"></script>-->
<!--  <script>-->
<!--    window.dataLayer = window.dataLayer || [];-->
<!--    function gtag(){dataLayer.push(arguments);}-->
<!--    gtag('js', new Date());-->
<!--    gtag('config', 'UA-160751836-1', {'anonymize_ip': true});-->
<!--  </script>-->

  {%- include head.html -%}
  <body unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;">
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
    {%- include footer.html -%}
    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-160751836-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
