<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">
  {%- include head.html -%}
  <body unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;">
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
    {%- include footer.html -%}
    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-160751836-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "56q17uvt85");
    </script>
  </body>
</html>
